version: '3.7'
services:
  app:
    image: app_sis:v2
    container_name: app_sis
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - 80:3000
    depends_on:
      - mongodb
      - rabbitmq
    restart: always
    networks:
      - app-network
  microservice-user:
    image: microservice-use:v2
    container_name: app_sis
    build:
      context: ./microservicio-usuarios
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      - mongodb
      - rabbitmq
    restart: always
    networks:
      - app-network
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    expose:
      - 15672
      - 5672
    restart: always
    networks:
      - app-network

  mongodb:
    image: mongo:4.2.8
    container_name: mongodb
    expose:
      - "27017"
    restart: always
    environment:
      - MONGO_DATA_DIR= /data/db
      - MONGO_LOG_DIR= /data/log
    volumes:
      - mongodb/data/db
    networks:
      - app-network
volumes:
    mongodb:
networks:
    app-network:

